body {
    font-family: 'Roboto', sans-serif;
    }

.navbar-brand {
    display: inline-block;
}

h4 {
    color: white;
}

p {
    font-size: 12pt;
    color: white;
}

.container {
    background-color: black;
}
footer {
    height: 100px;
    text-align: center;
    color: #707070;
    font-size: 16px;
    font-weight: lighter;
    padding-top: 20px;
}