body {
    font-family: 'Roboto', sans-serif;
    background-color: black;
    color: white;
    }

h3 {
    display: inline-block;
    margin-top: 10px;
}

h4 {
    color: white;
    text-align: center;
    padding-top: 20px;
}

.barra {
    background-color: teal;
    text-align: center;
    height: 33px;
    font-size: 22px;
    margin-top: 10px;
}

hr {
    border-color: teal;
    
}

p {
    font-size: 10pt;
    color: white;
    margin-top: 5px;
}

footer {
    background-color: teal;
    height: 70px;
    color: white;
    font-size: 30px;
    padding-top: 10px;
}

#marca {
    text-align: right;
    display: inline-block;
    font-size: 24px;
    font-weight: bold;
    margin-left: 100px; 
    margin-right: 300px; 
}

i {
    display: inline-block;
    padding: 8px;
}