body {
    font-family: 'Roboto', sans-serif;
    background-color: black;
    color: white;
    }

.navbar-brand {
    display: inline-block;
}

h4 {
    color: white;
    text-align: center;
}

hr {
    color: white;
}
p {
    font-size: 12pt;
    color: white;

}



footer {
    height: 100px;
    text-align: center;
    color: #707070;
    font-size: 16px;
    font-weight: lighter;
    padding-top: 20px;
}

.card body {
    color: white;
}